<!DOCTYPE html>
<html>
<head>
    <title>Reset Your Password</title>
</head>
<body>
    {% load static %}

    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td align="center" bgcolor="#f2f2f2" style="padding:20px 0;">
                <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="border-collapse:collapse; box-shadow:0px 3px 6px rgba(0,0,0,0.1);">

                    <!-- Header -->
                    <tr>
                        <td style="padding:0; line-height:0;">
                            <img src="{{ website.header_url }}" alt="" style="width:100%; display:block;">
                        </td>
                    </tr>
                    <!-- Header End -->

                    <!-- Content -->
                    <tr bgcolor="#ffffff">
                        <td style="padding:50px;" align="center">
                            <h1 style="font-family:Arial; font-size:24px; font-weight:700; text-transform:capitalize; color:#030527; margin:0px;">
                                Reset Your Password
                            </h1>
                            <br>
                            <p style="font-family:Arial; font-size:16px; font-weight:400; color:#656565; line-height:160%; margin:0px;">
                                We received a request to reset your password. Click the link below to create a new password.
                            </p>
                            <br>
                            <p style="font-family:Arial; font-size:14px; font-weight:400; color:#999999; line-height:160%; margin:0px;">
                                This link will expire in {{ expiry_hours }} hours.
                            </p>
                            <br><br>
                            <a href="{{ reset_url }}" style="border-radius:0px; background:#030527; color:#ffffff; font-size:14px; font-family:Arial; padding:16px 40px; font-weight:700; text-decoration:none;">
                                Reset Password
                            </a>
                            <br><br>
                            <p style="font-family:Arial; font-size:14px; font-weight:400; color:#999999; line-height:160%; margin:0px;">
                                If you didn't request this, you can ignore this email.
                            </p>
                        </td>
                    </tr>
                    <!-- Content End -->

                    <!-- Footer -->
                    <tr bgcolor="#030527">
                        <td>
                            <table style="width:100%; border-spacing:0px; border-collapse:collapse;" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding:48px 40px;">
                                        <img src="{{ website.footer_url }}" alt="" style="width:170px;">
                                    </td>
                                    <td style="padding:48px 40px;">
                                        <p style="font-family:Arial; font-size:16px; font-weight:700; text-transform:capitalize; color:#FAFAFA; line-height:160%; margin:0px; text-align:right;">
                                            {{ website.email }}<br>
                                            {{ website.address }}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Footer End -->

                </table>
            </td>
        </tr>
    </table>
</body>
</html>