<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
    <style>
        * { margin: 0; }
    </style>
</head>
<body>
    {% load static %}

    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td align="center" bgcolor="#ffffff" style="padding:0;">
                <table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#FAFAFA" style="border-collapse:collapse; box-shadow:0px 3px 6px rgba(0,0,0,0.1);">

                    <tr>
                        <td style="padding:0; height:90px;">
                            <img src="{{ website.header_url }}" alt="" style="width:100%;">
                        </td>
                    </tr>

                    <tr>
                        <td style="padding:40px 20px;" align="center">
                            <h1 style="font-size:24px; color:#251D32; font-family:Arial;">
                                Welcome to LittleStoryBox
                            </h1>
                            <p style="font-size:16px; color:#656565; font-family:Arial; line-height:158%; margin-top:16px;">
                                We appreciate your registration. To finalize your account,
                                click the link below to verify your email address.
                            </p>
                            <button style="border:none; background:#3B2C53; width:207.5px; border-radius:100px; padding:16px 40px; margin-top:24px;">
                                <a href="{{ verify_url }}" style="text-decoration:none; font-size:15px; color:#FFCE3C; font-family:Poppins; line-height:158%;">
                                    Verify email
                                </a>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding:0;">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;">
                                <tr style="background:#251D32; height:160px;">
                                    <td style="padding:40px;">
                                        <img src="{{ website.footer_url }}" alt="" style="height:31px;">
                                    </td>
                                    <td style="font-size:16px; color:#FAFAFA; text-align:right; padding:40px; font-family:Arial; line-height:158%;width:60%;">
                                        {{ website.email }}<br>
                                        {{ website.address }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>
