{% load static %}
{% for story in stories %}
<div class="full_cardd">
  <div class="book_covert">
    {% if story.thumbnail %}
      <img src="{{ story.thumbnail.url }}" alt="{{ story.title }}" class="img-fluid" onerror="this.onerror=null;this.src='{% static 'media/BookCover.jpeg' %}'">
    {% elif story.image %}
      <img src="{{ story.image.url }}" alt="{{ story.title }}" class="img-fluid" onerror="this.onerror=null;this.src='{% static 'media/BookCover.jpeg' %}'">
    {% else %}
      {% with first_page=story.pages.all|first %}
        {% if first_page and first_page.image %}
          <img src="{{ first_page.image.url }}" alt="{{ story.title }}" class="img-fluid" onerror="this.onerror=null;this.src='{% static 'media/BookCover.jpeg' %}'">
        {% else %}
          <img src="{% static 'media/BookCover.jpeg' %}" alt="{{ story.title }}" class="img-fluid">
        {% endif %}
      {% endwith %}
    {% endif %}
  </div>
  <div class="bottom_card_div">
    <p class="book_title_card">
      {% if story.title|length > 22 %}{{ story.title|slice:":22" }}...{% else %}{{ story.title }}{% endif %}
    </p>
    <a href="{% url 'product_book_view_purchased' story.slug %}" class="find_out_more">Find out more</a>
  </div>
</div>
{% empty %}
<p class="showing_pp w-100 text-center">No purchases found.</p>
{% endfor %}
