{% load static %}
{% for story in stories %}
<div class="full_cardd">
  <div class="book_covert">
    {% if story.image %}
      <img src="{{ story.image.url }}" alt="{{ story.title }}">
    {% elif story.pages.all.0.image %}
      <img src="{{ story.pages.all.0.image.url }}" alt="{{ story.title }}">
    {% else %}
      <img src="{% static 'media/BookCover.jpeg' %}" alt="{{ story.title }}">
    {% endif %}
  </div>
  <div class="bottom_card_div">
    <p class="book_title_card">
      {% if story.title|length > 22 %}{{ story.title|slice:":22" }}...{% else %}{{ story.title }}{% endif %}
    </p>
    <a href="{% url 'product_book_view_purchased' story.slug %}" class="find_out_more">Find out more</a>
  </div>
</div>
{% empty %}
<p class="showing_pp w-100 text-center">No purchases found.</p>
{% endfor %}
