# Django settings
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,89.117.148.38,littlestorybook.com,www.littlestorybook.com

SECRET_KEY="django-insecure-u!%)(m*!)dyfn@u46_7jh-8*cd2zqi1j9q!fwi%u2#h+5j2#n7"



# local Database settings
USE_PYMYSQL=true
DB_NAME=local_db
DB_USER=local_remote
DB_PASSWORD=7mrtgvrtfg
DB_HOST=89.117.148.38
DB_PORT=3306


# # Development Database settings
# USE_PYMYSQL=false
# DB_NAME=mydb
# DB_USER=admin
# DB_PASSWORD=l88ZZKZhYbjMePMVKPs0mAVYJq5
# DB_HOST=localhost
# DB_PORT=3306


# Email configuration 
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=your-password
DEFAULT_FROM_EMAIL=Little Storybook <noreply@littlestorybook.com>