/*********************/
/* Main CSS Start */
/*******************/
/* Global Css */
.desktop_none {
    display: none !important;
}

.mobile_none {
    display: block !important;
}

/* Global Css End */
/**********************/
/* Age Css Start */
.age_section{
    background-image: url(../media/age_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 220px 0px 671px 0px;
    margin-top: 16px;
}
.age_div{
    display: flex;
    width: 680px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 80px;
}
.age_title{
    color: var(--Core-Off-White, #FAFAFA);
    text-align: center;
    font-family: "Josephine Cosy Bold";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 80px */
    letter-spacing: -4px;
    margin: 0px;
}
.age_bottom{
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: auto;
}
.age_btn{
    display: flex;
    height: 56px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 100px;
    background: var(--Core-yellow, #FFCE3C);
    color: var(--Core-Secondary-Purple, #5A3384);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    line-height: 150%;
}
.age_btn:hover{
  border: 4px solid var(--Core-Secondary-yellow-dark, #E3AA00);
  background: var(--Core-yellow, #FFCE3C);
}
.age_droplabelbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}
.drop_labelbar{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.drop_label{
    color: var(--Core-Off-White, #FAFAFA);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0px;
}
.custom-dropdown {
    position: relative;
    width: 100%;
  }

  /* Dropdown button */
  .dropdown-btn {
    width: 100%;
    display: flex;
    height: 56px;
    padding: 16px 12px 16px 32px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 100px;
    background: var(--Core-Purple-dark, #251D32);
    border: none;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
  }

  /* Custom dropdown icon */
  .dropdown-icon {
    transition: transform 0.3s ease;
  }

  /* Dropdown list */
  .dropdown-list {
    position: absolute;
    top: calc(100% + 10px); /* 10px gap below button */
    left: 0;
    width: 100%;
    border: none;
    border-radius: 16px;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    opacity: 0;
    display: none;
    transform: translateY(-10px);
    z-index: 10; /* ensure it's above other buttons */
    background-color: #251D32;
    transition: all 0.40s ease-in-out;
  }
  .dropdown-list.open {
    display: block;
  }
  /* Show dropdown when open */
  .custom-dropdown.open .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  /* Rotate icon when open */
  .custom-dropdown.open .dropdown-icon {
    transform: rotate(180deg);
  }

  /* Hover effect */
  .dropdown-list li:hover {
    background: #FFCE3C;
    color: #251D32;
  }
  .age_droptext{
    color: var(--Core-yellow, #FFCE3C);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .dropdown-list li{
    color: var(--Core-yellow, #FFCE3C);
    text-align: start;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0px;
    padding: 16px 12px 16px 32px;
  }
  /* Highlight selected option */
.dropdown-list li.selected {
    background: #FFCE3C;
    color: #251D32;
    font-weight: 500;
  }
  
/* Age Css End */

/* Story Start */
/* Hide all tabs initially */


/* Progress Bar */
.progress_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 10;
  padding-top: 40px;
}
.step {
  width: 190px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.step img {
  transition: transform 0.3s;
  height: 42px;
}

.step:hover img {
  transform: scale(1.1);
}

.line {
  width: 100px;
  height: 2px;
  background: #4b3b6f;
}

.step p {
  color: var(--Core-Off-White, #FAFAFA);
  text-align: center;
  font-family: "Josephine Cosy Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  text-transform: capitalize;
  margin: 0px;
  transition: color 0.3s;
}

.completed-title {
  color: #ffcc00 !important;
}


.active-title {
  color: #fff !important;
}

/* Tabs */
.tab_content {
  display: none;
  padding: 0px;
  text-align: center;
}
.tab_c1{
  width: 500px;
  margin: auto;
  padding: 80px 0px 410px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
}
.story_textbox , .story_textbox:focus{
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  height: 53px;
  border: 1px solid var(--Core-Secondary-Purple, #5A3384);
  background: var(--Core-Purple-dark, #251D32);
  color: var(--Core-Off-White, #FAFAFA);
  font-family: Quicksand;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
.story_textbox:hover{
  border: 3px solid var(--Core-Secondary-Purple, #5A3384);
}
.story_textbox::placeholder{
  color: var(--Core-Off-White, #FAFAFA);
  font-family: Quicksand;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}
.char_textareamain{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}
.char_textareatop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.textarea_textcount{
  color: var(--Core-yellow, #FFCE3C) !important;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin: 0px;
}
.textarea_label{
  color: var(--Core-Off-White, #FAFAFA);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin: 0px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.story_textarea {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Core-Secondary-Purple, #5A3384);
  background: var(--Core-Purple-dark, #251D32);
  color: var(--Core-Off-White, #FAFAFA);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  resize: none;
  height: 119px;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;
}

.story_textarea:hover,
.story_textarea:focus {
  border: 3px solid var(--Core-Secondary-Purple, #5A3384);
  background: var(--Core-Purple-dark, #251D32);
  color: var(--Core-Off-White, #FAFAFA);
  box-shadow: none !important;
  outline: none !important;
}

/* Style placeholder text */
.story_textarea::placeholder {
  color: var(--Core-Off-White, #FAFAFA);
  font-family: Quicksand;
  font-size: 16px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}
/* When typing (textarea has focus and not empty) */
.story_textarea:not(:placeholder-shown) {
  color: var(--Core-Off-White, #FAFAFA);
  opacity: 1;
}

.char_btnbar {
  display: flex;
  gap: 16px;
  width: 100%;
}

.char_btn2a{
  max-width: 151px;
}
/* Common button styling */
.char_btnbar .btn {
  flex: 1;
  height: 56px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: none;
}

/* Back Button */
.char_btn1 {
  background: var(--Core-Purple-dark, #251D32);
  color: var(--Core-yellow, #FFCE3C);
}

/* Next Button */
.char_btn2 {
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
}

/* Hover logic — inverse flex behavior */
.char_btn1:hover {
  flex: 0.3; /* Shrink Back */
  background: var(--Core-Secondary-Purple, #5A3384);
  border: 2px solid var(--Core-Purple-dark, #251D32);
  color: var(--Core-yellow, #FFCE3C);
  max-width: 100%;
}

.char_btn1:hover ~ .char_btn2 {
  flex: 1.2; /* Expand Next */
  max-width: 100%;
}

/* Hover on Next */
.char_btn2:hover {
  flex: 0.7; /* Shrink Next */
  border: 4px solid var(--Core-Secondary-yellow-dark, #E3AA00);
  background: var(--Core-yellow, #FFCE3C);
  color: var(--Core-Secondary-Purple, #5A3384);
  max-width: 100%;
}

.char_btn2:hover ~ .char_btn1,
.char_btnbar:hover .char_btn1:hover ~ .char_btn2 {
  flex: 1.2; /* Expand Back when hovering Next */
}

/* Remove initial flicker or border glitch */
.char_btn1,
.char_btn2 {
  outline: none;
  box-shadow: none;
  border: none;
  height: 56px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: none;
}
.char_ani1{
  display: block;
  position: absolute;
  left: -580px;
  top: -40px;
}
.char_ani2{
  display: block;
  position: absolute;
  top: 120px;
  right: -480px;
}
.progress-bar.active img{
  background: radial-gradient(circle, rgba(255, 230, 0, 0.8), transparent 70%);
}

/* Background styles for each tab */
.bg-1 {
  background: url('../media/story1_bg.png') no-repeat center/cover;
}

.bg-2 {
  background: url('../media/story2_bg.png') no-repeat center/cover;
}

.bg-3 {
  background: url('../media/story3_bg.svg') no-repeat center/cover;
}

.bg-4 {
  background: url('../media/story4_bg.svg') no-repeat center/cover;
}
.story_section{
  padding: 0px;
}
.story-page{
  padding: 237px 0px 0px 0px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.prog_imgbar{
  position: relative;
  display: flex;
  justify-content: center;
}
.progress_img{
  position: absolute;
  top: 60px;
}
.glow-effect {
  box-shadow: 0 0 12px 0 rgba(255, 230, 0, 0.8);
  background: radial-gradient(circle, rgba(255, 230, 0, 0.8), transparent 95%);
  border-radius: 35px;
  border: none;
}
.tab_c2{
  width: 700px;
  margin: auto;
  padding: 80px 0px 316px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
}
.tab2_contbar{
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  border-radius: 24px;
  background: var(--Core-Purple-dark, #251D32);
}
.setting-options {
  display: flex;
  flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
}

.setting-options .option {
  position: relative;
  cursor: pointer;
  color: var(--Core-Off-White, #FAFAFA);
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin: 0px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 3px;
}
.setting-options .option span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  gap: 3px;
  padding: 4px 16px;
  border-radius: 100px;
  border: 1px solid var(--Core-Secondary-Purple, #5A3384);
  background: var(--Core-Purple-dark, #251D32);
  color: var(--Core-Off-White, #FAFAFA);
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin: 0px;
}

.setting-options .option span:hover{
  border: 3px solid var(--Core-purple-titles, #5A3384);
}
/* Hide the checkbox itself */
.setting-options .option input {
  display: none;
}

/* ✅ When checked, apply red border to the whole label */
.setting-options .option input:checked + span {
  border: 3px solid #5A3384;
  border-radius: 50px;
  padding: 6px 14px;
  background-color: rgba(59, 44, 83, 0.7);
}
.world_ani1{
  display: block;
  position: absolute;
  top: -22px;
  left: -400px;
}
.world_ani2{
  display: block;
  position: absolute;
  top: 340px;
  right: -460px;
}
.tab_c3{
  padding: 80px 0px 404px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.style_top{
  width: 648px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 32px;
}
.style_mid{
  max-width: 1328px;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 24px;
  background: var(--Core-Purple-dark, #251D32);
  align-items: center;
}
.style_bottom{
  width: 680px;
  margin: auto;
}
.tab3top_card{
  display: flex;
  width: 100%;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  background: var(--Core-Purple-dark, #251D32);
}
.tab3_options{
  justify-content: center;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px 16px;
  flex-wrap: wrap;
  width: 100%;
}

.card-item {
  width: 200px;
  background: none;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.card-item p {
  color: var(--Core-Off-White, #FAFAFA);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
}

/* Selected animation */
.card-item.selected{
  box-shadow: 0 0 100px 0 rgba(255, 223, 44, 0.5);
}
.card-item.selected img{
  box-shadow: 0 40px 100px 0 rgba(255, 223, 44, 0.50);
  border: 2px solid #FFCE3C;
}

.card-item.selected p {
  color: var(--Core-yellow, #FFCE3C);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.tab3_ani{
  position: absolute;
  display: block;
  top: -150px;
  right: -480px;
}
.tab_c4{
  padding: 80px 0px 420px 0px;
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.drop_btn2 button{
  background: var(--Core-purple-titles, #3B2C53);
}
.drop_btn2 ul{
  background: var(--Core-purple-titles, #3B2C53);
}
.tab4_mid{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.speaker_main{
  display: flex;
  gap: 8px;
  width: 100%;
}
.speaker_btn{
  padding: 0px;
  border: none;
  border-radius: 0px;
  background: none;
}
.other-dropdown button span , .lang-dropdown button span{
  color: var(--Core-yellow, #FFCE3C);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
}
.voice_ani1{
  display: block;
  position: absolute;
  top: 170px;
  right: -540px;
}
.story_mcontent{
  padding: 148px 24px 61px 24px;
  width: 343px;
  margin: auto;
  background: url(../media/story_modalbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
}
.story_mbody{
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.story_mtitlebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.story_mtitle{
  color: var(--Core-purple-titles, #3B2C53);
  text-align: center;
  font-family: "Josephine Cosy Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0px;
}
.story_msubtitle{
  color: var(--Core-Secondary-Purple, #5A3384);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin: 0px;
}
.story_msubtitlebold{
  color: var(--Core-Secondary-Purple, #5A3384);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin: 0px;
}
.story_mbtnbar{
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}
.smodal_btn1{
  display: flex;
  height: 56px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 100px;
  background: var(--Core-yellow, #FFCE3C);
}
.smodal_btn1:hover{
  color: var(--Core-Secondary-Purple, #5A3384);
  border: 2px solid var(--Core-Secondary-yellow-dark, #E3AA00);
  background: var(--Core-yellow, #FFCE3C);
}
.smodal_btn2{
  display: flex;
  height: 56px;
  padding: 8px 37px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  color: var(--Core-yellow, #FFCE3C);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 100px;
  background: var(--Core-purple-titles, #3B2C53);
}
.smodal_btn2:hover{
  color: var(--Core-yellow, #FFCE3C);
  border: 2px solid var(--Core-Purple-dark, #251D32);
  background: var(--Core-Secondary-Purple, #5A3384);
}
/* Story End */

/* Dashboard Start */
.dashboard_s1{
  padding: 147px 0px 0px 0px;
  background-image: url(../media/dashboard_s1bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
}
.dashboard_c1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1260px;
  margin: auto;
}
.dashboard_s1titlebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 60px;
}
.dashboard_s1title{
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy Bold";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -4px;
  margin: 0px;
}
.dashboard_ani1{
  height: 280px;
  margin-top: 32px;
}
.dashboard_ani2{
  height: 369px;
}
.dashboard_s2{
  padding: 40px 0px 64px 0px;
  display: block;
  background-color: #FFFFFF;
}
.dashboard_c2{
  width: 1256px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.dashboard_logoutbtn{
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin: 0px;
  padding: 0px;
}
.dashboard_top{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.dashboard_topcard{
  padding: 48px 0px 0px 0px;
  width: 100%;
  position: relative;
}
.dashboard_card1icon{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

}
.dashboard_card{
  display: flex;
  padding: 40px 24px 24px 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  background: var(--Sky-Sky-light, #E5F9FF);
}
.dash_cardtitle{
  color: var(--Core-purple-titles, #3B2C53);
  text-align: center;
  font-family: "Josephine Cosy Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0px;
}
.dash_cardsubtitle{
  color: var(--Core-purple-body, #6A5681);
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin: 0px;
}
.dashboard_mid{
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}
.dash_midleft{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.dash_midright{
  width: 100%;
  max-width: 604px;
  min-width: 604px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 32px;
  border-radius: 8px;
  background: var(--Sky-Sky-light, #E5F9FF);
}
.dash_midrighttop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dash_midrighttitle{
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0px;
}
.dash_midrightbottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

.dash_libcard {
  cursor: pointer;
  padding-bottom: 42px;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.1s ease;
}
.dash_libbtn{
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 100px;
  border: 1px solid var(--Base-04, #F2F2F2);
  background: var(--Core-White, #FFF);
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  transition: all 0.1s ease;
}
.dash_libbtntitle{
  color: var(--Charcoal, #242323);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0px;
}
.dash_libbtnreadmore{
  color: var(--Core-Secondary-Purple, #5A3384);
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  margin: 0px;
}
.dash_libcard:hover img{
  width: 95%;
}
.dash_libcard:hover .dash_libbtn{
  width: 100%;
}
.dash_midleftop{
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Sky-Sky-light, #E5F9FF);
}
.balance_titlebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.balance_title{
  color: var(--Core-purple-titles, #3B2C53);
  font-family: "Josephine Cosy Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2px;
  margin: 0px;
}
.balance_subtitle{
  color: var(--Core-purple-titles, #3B2C53);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 70%;
  margin: 0px;
}
.dash_midlefmid{
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Sky-Sky-light, #E5F9FF);
}
.dash_midleftmiddle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dash_textboxbar{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}
.dash_textbox{
  display: flex;
  height: 56px;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 100px;
  background: var(--Core-White, #FFF);
  color: var(--Core-purple-titles, #3B2C53);
  border: none;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}
.dash_textbox::placeholder{
  color: var(--Core-purple-titles, #3B2C53);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}
.form-control:focus{
  border: none;
  box-shadow: none;
}
.dash_textline{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.dashboard_bottom{
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Sky-Sky-light, #E5F9FF);
}

.order_desctable thead tr th {
    padding: 12px 24px;
    background: var(--Primary, #5A3384);
}

.order_desctable tbody tr td {
    padding: 16px 24px;
}

.order_desctable thead tr th:nth-last-child(2) {
  text-align: end;
}
.dash_tbtnbar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.order_desctable tbody tr td:nth-last-child(2) {
  text-align: end;
}
.order_desctable tbody tr td:nth-last-child(3) {
  min-width: 463px;
}

.view_orderbtn {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--Core-Secondary-Purple, #5A3384);
    text-align: right;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
}

.view_orderbtn:hover {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--Core-Secondary-Purple, #5A3384);
  text-align: right;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.success_headtext{
  color: var(--Core-Off-White, #FAFAFA);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  /* display: flex; */
  flex-direction: row;
  gap: 8px;
  margin: 0px;
}
.success_bodytext{
  color: var(--Core-Secondary-Purple, #5A3384);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  margin: 0px;
  max-width: 400px;
}
table {
  width: 100%;
  border-collapse: collapse; /* merges borders for a clean grid look */
}

table , th , td {
  border: 1px solid #F2F2F2; /* grid line color */
}
table th td{
  border-right: 1ps solid #FAFAFA;
}
table th td:last-child{
  border-right: none;
}
th, td {
  padding: 10px;
  text-align: left;
}
/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: auto;
}

.page-btn,
.page-number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: none;
  color: var(--Core-Secondary-Purple, #5A3384);
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-btn {
  background-color: #5A3384;
  color: #fff;
}

.page-number:hover {
  border: 2px solid #5A3384;
}

.page-number.active {
  border: 2px solid #5A3384;
  background-color: transparent;
  font-weight: 600;
}

.dash_mcontent{
  padding: 148px 24px 61px 24px;
  width: 343px;
  margin: auto;
  position: relative;
  background: url(../media/story_modalbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
}
.dash_m3content{
  padding: 200px 24px 61px 24px !important; 
}
.modal_closeimg{
  padding: 0px;
  border-radius: 0px;
  background: none;
  border: none;
  position: absolute;
  top: 0px;
  left: 49%;
}
/* Dashboard End */





















/*************************/
/* Responsive CSS Start */
/***********************/
@media only screen and (min-width: 420px) and (max-width:450px) {
  .cards-container{
    padding: 32px 120px 24px 49px !important;
  }
}
@media only screen and (min-width: 350px) and (max-width:370px) {
  .cards-container{
    padding: 32px 118px 24px 49px !important;
    width: 120vw !important;
  }
}
@media only screen and (max-width: 600px) {

.dash_midrightbottom {
  grid-template-columns: repeat(1, 1fr);
}

  .progressbar_main {
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .progressbar_main::-webkit-scrollbar {
    display: none;
  }
  .progress_bar {
    width: 950px;
    background: url(../media/progress_line.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 10;
    padding-top: 40px;
  }
  .step {
    width: 190px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    transition: transform 0.3s ease;
  }
  .step.active img {
    transform: scale(1.1);
  }

  
  
    /*******************/
    /* Global Css */
    html,body{
      overflow-x: hidden;
    }
    .desktop_none {
        display: block !important;
    }

    .mobile_none {
        display: none !important;
    }
    /* Global Css End */
    /**********************/
    /* Age Start */
    .age_title{
        font-size: 40px;
        letter-spacing: -2px;
    }
    .age_div{
        width: 100%;
        gap: 32px;
    }
    .age_bottom{
        width: 100%;
    }
    .age_section{
        background-image: url('/static/media/Age_bgmob.png');
        padding: 190px 0px 323px 0px;
        margin: 0px;
    }
    .age_div form{
      width: 100%;
    }
    .age_section .container{
        padding: 0px 24px;
    }
    /* Age End */
    /* Story Start */
    .progress_bar{
      width: 950px;
      background: url(../media/progress_line.svg);
      background-position: center;
      background-repeat: no-repeat;
      padding-top: 24px;
    }
    .progress_img{
      display: none;
    }
    .story_textarea::-webkit-scrollbar {
      display: none;
    }
    .progressbar_main{
      overflow-x: auto;
    }
    .progressbar_main::-webkit-scrollbar {
      display: none;
    }
    .char_btn2a{
      max-width: 100%;
    }
    .tab_c1{
      padding: 56px 24px 323px 24px;
      width: 100%;
      gap: 32px;
    }
    .story_textarea{
      height: 151px;
    }
    .char_btnbar{
      flex-direction: column-reverse;
    }

    .bg-1{
      background: url(../media/tab1_bgmob.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .story-page{
      padding: 188px 0px 0px 0px;
    }
    .char_btnbar .btn {
      flex: 1 !important;
      transition: none !important;
    }
    .char_ani1{
      display: none;
    }
    .char_ani2{
      display: none;
    }
    .bg-2{
      background: url(../media/tab2_bgmob.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .world_ani1{
      display: none;
    }
    .world_ani2{
      display: none;
    }
    .tab_c2{
      width: 100%;
      padding: 56px 24px 323px 24px;
    }
    .tab3_ani{
      display: block;
    }
    .tab_c3{
      padding: 56px 0px 298px 0px;
    }
    .style_top{
      width: 100%;
    }
    .bg-3{
      background: url(../media/tab3_bgmob.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .style_top{
      padding: 0px 24px;
    }
    .tab3top_card{
      padding: 24px 22px;
    }
    .setting-options{
      column-gap: 8px;
      row-gap: 8px;
    }
    .style_bottom{
      width: 100%;
      padding: 0px 24px;
    }
    .style_midouter{
      padding: 0px 24px;
    }
    .style_mid{
      gap: 0px;
      padding: 24px 24px 0px 24px;
    }
    .cards-container {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      gap: 16px;
      padding: 32px 107px 24px 49px;              /* small horizontal padding */
      width: 100vw;
      box-sizing: border-box;
      position: relative;
      z-index: 5;
      scroll-padding-left: 87px;    /* helps snap the first card correctly */
      justify-content: flex-start;
    }
    
    .cards-container::-webkit-scrollbar {
      display: none;
    }
    
    .card-item {
      flex: 0 0 200px;
      scroll-snap-align: start;     /* align first card to start of container */
      transition: all 0.35s ease;
      position: relative;
    }
    .card-item.selected{
      box-shadow: 0 0 30px 0 rgba(255, 223, 44, 0.5);
    }
    .card-item.selected img {
      box-shadow: 0 39px 32px 0 rgba(255, 223, 44, 0.50);
      border: 2px solid #FFCE3C;
    }
    .bg-4{
      background: url(../media/tab4_bgmob.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .tab_c4{
      width: 100%;
      padding: 56px 24px 298px 24px;
    }
    .voice_ani1{
      display: none;
    }
    /* Story End */

    /* Dashboard Start */
    .dashboard_s1{
      display: none;
    }
    .dashboard_s2{
      display: none;
    }
    /* Mobile Start */
    
    .dashapp_container {
      width: 100%;
      height: 100vh;
      background: #FFFFFF;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      padding-bottom: 120px;
    }
    
    /* Scrollable area for content */
    .dashtab_content {
      flex: 1;
      overflow-y: auto;
      padding: 0px;
      display: none;
    }
    
    .dashtab_content.active {
      display: block;
    }
    
    /* Floating bottom navigation */
    .dashbottom_nav {
      position: fixed;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      background: url(../media/dash_mobnavbg.svg);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 80px 24px 24px 24px;
      z-index: 999;
    }
    
    .dashnav_btn {
      border: none;
      background: none;
      font-size: 22px;
      cursor: pointer;
      color: #999;
      transition: all 0.3s ease;
    }
    
    .dashnav_btn.active {
      padding: 0px;
      opacity: 0.5;
    }
    
    /* Button style */
    .dashyellow_btn {
      background: #ffcd00;
      color: #4b2677;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 10px;
    }
    .dash_mobs1{
      background-image: url(../media/dash_mobs1bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 28px 0px 132px 0px;
    }
    .dash_s1title{
      color: var(--Core-purple-titles, #3B2C53);
      text-align: center;
      font-family: "Josephine Cosy Bold";
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -2px;
      margin: 0px;
    }
    .dash_t1s2mob{
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px 0px;
    }
    .dash_midleftop{
      padding: 24px;
      margin: 0px 16px;
      flex-direction: column;
      gap: 24px;
      align-items: normal;
    }
    .balance_titlebar{
      align-items: center;
      gap: 8px;
    }
    .balance_title{
      font-size: 32px;
    }
    .t2s2_storybar{
      padding: 0px 16px;
    }
    .dashboard_card{
      align-items: normal;
    }
    .lib_mobcardbar{
      display: flex;
      padding: 16px 0;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      overflow-x: auto;
      width: 108%;
      padding-right: 24px;
    }
    .lib_mobcardimg{
      height: 176px;
      border-radius: 8px;
    }
    .lib_mobcardbar::-webkit-scrollbar {
      display: none;
    }
    .dash_t4s2{
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 24px;
    }
    .dash_t4s2card{
      display: flex;
      padding: 24px;
      flex-direction: column;
      gap: 16px;
      align-self: stretch;
      border-radius: 24px;
      background: var(--Sky-Sky-light, #E5F9FF);
    }
    .dash_t4s2cardcbar{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .dash_t4s2cardtitle{
      color: var(--Core-purple-titles, #3B2C53);
      text-align: center;
      font-family: "Josephine Cosy Bold";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -1.6px;
      margin: 0px;
    }
    .dash_t4s2carddbar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 16px;
    }
    .dash_t4s2cardsubtitle{
      color: var(--Core-purple-body, #6A5681);
      font-family: Quicksand;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%;
      margin: 0px;
    }
    .dash_t5s2{
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 24px;
    }
    .dash_midlefmid{
      padding: 32px 24px;
      gap: 24px;
      text-align: center;
      border-radius: 24px;
    }
    .dash_textline{
      flex-direction: column;
    }

    .simple-carousel {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      text-align: center;
    }
    
    /* Track holds all slides */
    .carousel-track {
      display: flex;
      transition: transform 0.4s ease;
      gap: 24px;
      padding: 0px 8px 0px 16px;
      box-sizing: border-box;
    }
    
    /* Each card shows 80% width → leaving 10% visible on each side */
    .carousel-card {
      flex: 0 0 89%;
    }
    
    /* Dots */
    .carousel-dots {
      display: flex;
      justify-content: center;
      margin-top: 12px;
    }
    
    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #5A3384;
      margin: 0 4px;
      transition: background 0.3s ease;
    }
    
    .dot.active {
      background: #FFCE3C;
    }
    .dash_cardtitle{
      font-size: 32px;
    }
    /* Mobile End */ 
    /* Dashboard End */

}

@media only screen and (min-width: 900px) and (max-width:999px) {
  .age_title{
    font-size: 66px;
  }
  .age_section{
    padding: 220px 0px 175px 0px;
  }
  .char_ani1{
    left: -220px;
    top: 20px;
    height: 140px;
  }
  .char_ani2{
    top: 120px;
    right: -200px;
    height: 210px;
  }
  .world_ani1{
    top: -22px;
    left: -175px;
    height: 200px;
  }
  .world_ani2{
    top: 340px;
    right: -180px;
    height: 260px;
  }
  .tab_c2{
    width: 540px;
  }
  .style_mid{
    max-width: 840px;
  }
  .card-item{
    width: 180px;
  }
  .style_top{
    width: 500px;
  }
  .tab3_ani{
    top: -90px;
    right: -200px;
    height: 240px;
  }
  .tab_c4{
    width: 580px;
  }
  .voice_ani1{
    top: 295px;
    right: -156px;
    height: 150px;
  }
  .dashboard_c1{
    width: 800px;
  }
  .dashboard_s1title{
    font-size: 48px;
  }
  .dashboard_ani1{
    height: 250px;
  }
  .dashboard_ani2{
    height: 320px;
  }
  .dashboard_c2{
    width: 850px;
  }
  .order_desctable tbody tr td:nth-last-child(3){
    min-width: 190px;
  }
  .dash_cardtitle{
    font-size: 28px;
  }
  .dash_cardsubtitle{
    font-size: 14px;
  }
  .balance_title{
    font-size: 24px;
  }
  .dash_midrighttitle{
    font-size: 32px;
  }
  .dash_midright{
    min-width: 480px;
    max-width: 480px;
    padding: 24px;
  }
  .dash_midleftop{
    padding: 24px;
  }
  .dash_midlefmid{
    padding: 24px;
  }
  .smodal_btn1{
    padding: 16px 24px;
  }
  .dashboard_bottom{
    padding: 24px;
  }
  .order_desctable tbody tr td:last-child{
    min-width: 190px;
  }
}
@media only screen and (min-width: 1000px) and (max-width:1099px) {
  .age_section{
    padding: 220px 0px 240px 0px;
  }
  .char_ani1{
    left: -270px;
    top: 20px;
    height: 160px;
  }
  .char_ani2{
    top: 120px;
    right: -250px;
    height: 250px;
  }
  .world_ani1{
    top: -22px;
    left: -170px;
    height: 200px;
  }
  .world_ani2{
    top: 340px;
    right: -180px;
    height: 260px;
  }
  .tab_c2{
    width: 650px;
  }
  .style_mid{
    max-width: 900px;
  }
  .tab3_ani{
    top: -90px;
    right: -190px;
    height: 220px;
  }
  .style_top{
    width: 550px;
  }
  .tab_c4{
    width: 580px;
  }
  .voice_ani1{
    top: 280px;
    right: -200px;
    height: 180px;
  }
  .dashboard_c1{
    width: 900px;
  }
  .dashboard_s1title{
    font-size: 48px;
  }
  .dashboard_ani1{
    height: 250px;
  }
  .dashboard_ani2{
    height: 320px;
  }
  .dashboard_c2{
    width: 950px;
  }
  .order_desctable tbody tr td:nth-last-child(3){
    min-width: 190px;
  }
  .dash_cardtitle{
    font-size: 32px;
  }
  .balance_title{
    font-size: 32px;
  }
  .dash_midrighttitle{
    font-size: 32px;
  }
  .dash_midright{
    min-width: 480px;
    max-width: 480px;
  }
}
@media only screen and (min-width: 1100px) and (max-width:1199px) {
  .age_section{
    padding: 220px 0px 300px 0px;
  }
  .char_ani1{
    left: -320px;
    top: -20px;
    height: 160px;
  }
  .char_ani2{
    top: 120px;
    right: -280px;
    height: 260px;
  }
  .world_ani1{
    top: -22px;
    left: -200px;
    height: 220px;
  }
  .world_ani2{
    top: 340px;
    right: -210px;
    height: 300px;
  }
  .style_mid{
    max-width: 900px;
  }
  .tab3_ani{
    top: -110px;
    right: -220px;
    height: 250px;
  }
  .tab_c4{
    width: 580px;
  }
  .voice_ani1{
    top: 280px;
    right: -250px;
    height: 230px;
  }
  .dashboard_c1{
    width: 1000px;
  }
  .dashboard_s1title{
    font-size: 64px;
  }
  .dashboard_c2{
    width: 1050px;
  }
  .order_desctable tbody tr td:nth-last-child(3){
    min-width: 290px;
  }
  .dash_cardtitle{
    font-size: 32px;
  }
  .balance_title{
    font-size: 32px;
  }
  .dash_midrighttitle{
    font-size: 32px;
  }
  .dash_midright{
    min-width: 580px;
    max-width: 580px;
  }
}
@media only screen and (min-width: 1200px) and (max-width:1348px) {
  .age_section{
    padding: 220px 0px 450px 0px;
  }
  .char_ani1{
    left: -420px;
    top: -40px;
    height: 220px;
  }
  .char_ani2{
    top: 120px;
    right: -350px;
    height: 300px;
  }
  .world_ani1{
    top: -22px;
    left: -280px;
    height: 300px;
  }
  .world_ani2{
    top: 340px;
    right: -300px;
    height: 420px;
  }
  .style_mid{
    max-width: 900px;
  }
  .tab3_ani{
    top: -130px;
    right: -300px;
    height: 330px;
  }
  .voice_ani1{
    top: 240px;
    right: -345px;
    height: 320px;
  }
  .tab_c4{
    width: 580px;
  }
  .dashboard_c1{
    width: 1100px;
  }
  .dashboard_s1title{
    font-size: 64px;
  }
  .dashboard_c2{
    width: 1150px;
  }
  .order_desctable tbody tr td:nth-last-child(3){
    min-width: 380px;
  }
}

@media only screen and (min-width: 1349px) and (max-width:1439px) {
  .age_section{
    padding: 220px 0px 500px 0px;
  }
  .char_ani1{
    left: -420px;
    top: -40px;
    height: 220px;
  }
  .char_ani2{
    top: 120px;
    right: -350px;
    height: 300px;
  }
  .world_ani1{
    top: -22px;
    left: -360px;
  }
  .world_ani2{
    top: 340px;
    right: -380px;
    height: 500px;
  }
  .style_mid{
    max-width: 900px;
  }
  .tab3_ani{
    top: -130px;
    right: -300px;
    height: 330px;
  }
  .voice_ani1{
    top: 240px;
    right: -345px;
    height: 320px;
  }
  .tab_c4{
    width: 580px;
  }
}

@media only screen and (min-width: 1440px) and (max-width:1499px) {
  .age_section{
    padding: 220px 0px 540px 0px;
  }
  .char_ani1{
    left: -500px;
    top: -40px;
  }
  .char_ani2{
    top: 120px;
    right: -420px;
  }
  .world_ani1{
    top: -22px;
    left: -360px;
  }
  .world_ani2{
    top: 340px;
    right: -380px;
    height: 500px;
  }
  .tab3_ani{
    top: -150px;
    right: -380px;
    height: 380px;
  }
  .voice_ani1{
    top: 205px;
    right: -360px;
    height: 340px;
  }
}

@media only screen and (min-width: 1500px) and (max-width:1599px) {
  .age_section{
    padding: 220px 0px 600px 0px;
  }
  .char_ani1{
    left: -520px;
    top: -40px;
  }
  .char_ani2{
    top: 120px;
    right: -450px;
  }
  .world_ani1{
    top: -22px;
    left: -360px;
  }
  .world_ani2{
    top: 340px;
    right: -380px;
    height: 500px;
  }
  .tab3_ani{
    top: -150px;
    right: -420px;
    height: 400px;
  }
  .voice_ani1{
    top: 200px;
    right: -390px;
    height: 360px;
  }
}

@media only screen and (min-width: 1600px) and (max-width:1699px) {
  .char_ani1{
    left: -560px;
    top: -40px;
  }
  .char_ani2{
    top: 120px;
    right: -450px;
  }
  .tab3_ani{
    top: -150px;
    right: -460px;
  }
  .voice_ani1{
    top: 190px;
    right: -430px;
    height: 380px;
  }
}

@media only screen and (min-width: 1700px) and (max-width:1799px) {
.voice_ani1{
  top: 170px;
  right: -470px;
  height: 400px;
}
}

@media only screen and (min-width: 1800px) and (max-width:1919px) {}