{% extends "includes/layout.html" %}
{% load static %}
{% block title %} Billing information | {{ site_name }} {% endblock %}
{% block content %}

<section class="checkout-page">
  <div class="user-info">
    <div class="billing-info">
      <h1 class="ub-h1">Billing information</h1>
      <form id="paymentForm" method="POST" action="{% url 'payment' %}">
        {% csrf_token %}
        <div class="ab-field w-100">
          <div class="field-box">
            <h2 class="ay-txt">About You</h2>
            <input type="text" name="first_name" placeholder="First name" value="{{ user.first_name }}" class="inp-bx" required>
            <input type="text" name="last_name" placeholder="Last name" value="{{ user.last_name }}" class="inp-bx" required>
            <input type="email" name="email" placeholder="Email Address" value="{{ user.email }}" class="inp-bx" required readonly>
          </div>
          <div class="field-box">
            <h2 class="ay-txt">Address</h2>
            <input type="text" name="line_1" placeholder="Address line 1" value="{% if user.profile.line_1 and user.profile.line_1 != 'None' %}{{ user.profile.line_1 }}{% endif %}" class="inp-bx" required>
            <input type="text" name="line_2" placeholder="Address line 2" value="{% if user.profile.line_2 and user.profile.line_2 != 'None' %}{{ user.profile.line_2 }}{% endif %}" class="inp-bx" required>
            <div class="ap-b">
              <input type="text" name="city" placeholder="City / town" value="{% if user.profile.city and user.profile.city != 'None' %}{{ user.profile.city }}{% endif %}" class="inp-bx" required>
              <input type="text" name="postal" placeholder="Zip / Postal Code" value="{% if user.profile.postal and user.profile.postal != 'None' %}{{ user.profile.postal }}{% endif %}" class="inp-bx" required>
            </div>
          </div>
        </div>
        <div class="button-sec">
          <a href="{% url 'order_summary' %}" class="yello-btn btn">Cancel</a>
          <button type="submit" class="bluee-btn btn">Continue payment</button>
        </div>
      </form>
    </div>
  </div>
  <img src="{% static 'media/usr-info-mb.png' %}" class="d-block d-md-none" alt="">
</section>

{% endblock %}
{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const form = document.getElementById("paymentForm");
  if(form) {
    form.addEventListener("submit", function(e) {
      if(form.dataset.submitting === "true") { e.preventDefault(); return; }
      form.dataset.submitting = "true";
      universalLoader("Processing Payment", "Redirecting to secure gateway...");
    });
  }
});
</script>
{% endblock %}
