{% extends "includes/layout.html" %}
{% load static %}
{% block title %} Payment Success | {{ site_name }} {% endblock %}
{% block content %}

<section style="padding:0%;">
  <div class="check_s">
    <img src="{% static 'media/check_suc_l.png' %}" alt="" class="img_chek_s mo_none">
    <div class="check_s_outer">
      <h3 class="check_s_head">Payment success!</h3>
      <div class="check_s_div">
        <a href="{% url 'user_dashboard' %}" class="btn btn_check_s_y">Go to library</a>
        <a href="{% url 'product_book_list' %}" class="btn btn_check_s_b">Explore Stories</a>
      </div>
    </div>
    <img src="{% static 'media/check_S_mo.png' %}" alt="" class="desk_none">
    <img src="{% static 'media/check_suc_R.png' %}" alt="" class="img_chek_s mo_none">
  </div>
</section>

<div id="showModalFlag" data-show="{{ show_modal_flag|yesno:'1,0' }}"></div>

{% endblock %}
{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const flag = document.getElementById("showModalFlag");
  if(flag && flag.dataset.show === "1") {
    window.notyf && window.notyf.open({ type: "success", message: "Tokens added! You can now create a story or make a purchase." });
  }
});
</script>
{% endblock %}
