<div class="d-none d-lg-block">
    {% load static %}
    {% load humanize %}
    {% if logged_in_user %}
        <div class="d-flex align-items-center gap-2">
            {% if request.resolver_match.url_name == 'package_pricing' %}
                <a class="nav-link btn login-btn" href="{% url 'order_summary' %}">View Cart</a>
            {% elif request.resolver_match.url_name == 'product_books_details' %}
                <a class="nav-link btn login-btn" href="{% url 'order_summary' %}">View Cart</a>
                <a class="nav-link btn login-btn" href="{% url 'user_dashboard' %}">Balance: {{ logged_in_user.profile.wallet|default:0|intcomma }}</a>
            {% else %}
                <a class="nav-link btn login-btn" href="{% url 'user_dashboard' %}">Balance: {{ logged_in_user.profile.wallet|default:0|intcomma }}</a>
            {% endif %}
        </div>
    {% else %}
        <a class="nav-link btn login-btn" href="{% url 'user_login' %}">Login/Register</a>
    {% endif %}
</div>