{% load static %}

{# QR Code Scan Modal #}
<div class="modal fade" id="scanModal" tabindex="-1" aria-labelledby="scanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-dialog-scan-main">
            <div class="modal-body modal-dialog-scan">
                <div class="contactus-modal text-center">
                    <h2 class="mt-3">Ready to <br> level up?</h2>
                    <p>
                        Scan the QR code then follow the onscreen instructions.
                        You can safely close your desktop tab.
                    </p>
                    <div class="qr-code-img text-center" id="qrcode-container"></div>
                    <button type="button" class="btn btn-design mt-4" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{# Footer #}
{% with current_page=request.resolver_match.url_name %}
{% if current_page != "story_book_create" %}

<section class="footer-bg-top d-lg-block d-md-block d-none">
    <img src="{% static 'media/footer-top-bg.png' %}" class="bg-image" alt="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <p>To enjoy the ultimate experience, give our web app a try!</p>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <a href="#" class="btn btn-design" data-bs-toggle="modal" data-bs-target="#scanModal">Scan QR code</a>
            </div>
        </div>
    </div>
</section>

<footer class="footer position-relative">
    <img src="{% static 'media/footer-bg.png' %}" class="bg-image img-fluid d-lg-block d-md-block d-none" alt="">
    <img src="{% static 'media/footer-img-mo.png' %}" class="img-fluid d-lg-none d-md-none d-block" alt="">
    <img src="{% static 'media/Footer-mo.png' %}" class="bg-image img-fluid d-lg-none d-md-none d-block" alt="">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="footer-logo">
                        <img src="{% static 'media/footer-logo.svg' %}" alt="Magicstorycorner" class="img-fluid f-logo">
                        <p>© {% now "Y" %} Magicstorycorner. All rights reserved.</p>
                        <img src="{% static 'media/Mastercard.svg' %}" alt="Mastercard" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="footer-right">
                        <div class="footer-row">
                            <div class="footer-menu">
                                <h6>Information</h6>
                                <p>
                                    info@magicstorycorner.com<br>
                                    DUNEWELL SERVICES LTD<br>
                                    3 Swan Avenue, Wallsend<br>
                                    United Kingdom, NE28 7JH
                                </p>
                            </div>
                            <div class="footer-right-row">
                                <div class="footer-menu footer-menu-1 footer-menu-third">
                                    <h6>Links</h6>
                                    <ul>
                                        <li><a href="{% url 'product_book_list' %}">Stories</a></li>
                                        <li><a href="{% url 'story_book_create' %}">Create</a></li>
                                        <li><a href="{% url 'package_pricing' %}">Pricing</a></li>
                                        <li><a href="{% url 'about' %}">About us</a></li>
                                        <li><a href="{% url 'howItWorks' %}">How it works</a></li>
                                        <li><a href="{% url 'contactUs' %}">Contact us</a></li>
                                    </ul>
                                </div>
                                <div class="footer-menu footer-menu-2">
                                    <h6>Policies</h6>
                                    <ul>
                                        <li><a href="{% url 'terms_conditions' %}">Terms &amp; conditions</a></li>
                                        <li><a href="{% url 'privacy_policy' %}">Privacy policy</a></li>
                                        <li><a href="{% url 'cookies_policy' %}">Cookie Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endif %}
{% endwith %}

{# JavaScript Libraries #}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/home-js.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/appmain.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

{# Initialize AOS #}
<script>
    AOS.init({ duration: 1000 });
</script>

{# Navbar Toggler #}
<script>
    $(document).ready(function () {
        $(".navbar-toggler").click(function () {
            $(this).toggleClass("is-active");
            $(".navbar-expand-lg").toggleClass("header-is-active");
        });
    });
</script>

{# Filter Box #}
<script>
    $('#filterid').on('click', function(event) {
        $('#filterBox').slideToggle(300);
        $('#filterBox').toggleClass('open');
        event.preventDefault();
    });
    $(document).ready(function(){
        $("#filter-close").click(function(){
            $("#filterBox").slideUp("slow");
        });
    });
    document.querySelectorAll(".ul-filter-menu h3").forEach(function(header) {
        header.addEventListener("click", function() {
            var body = header.nextElementSibling;
            body.classList.toggle("open");
            header.classList.toggle("active");
        });
    });
</script>

{# QR Code Modal Logic #}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var scanModal = document.getElementById('scanModal');
        if (!scanModal) return;
        var qrCodeGenerated = false;
        scanModal.addEventListener('shown.bs.modal', function () {
            if (!qrCodeGenerated) {
                var qrContainer = document.getElementById('qrcode-container');
                qrContainer.innerHTML = '';
                var appInstallURL = window.location.origin + '/app-install/';
                new QRCode(qrContainer, {
                    text: appInstallURL,
                    width: 160,
                    height: 160,
                    colorDark: '#2d1b69',
                    colorLight: '#ffffff',
                    correctLevel: QRCode.CorrectLevel.H
                });
                qrCodeGenerated = true;
            }
        });
        scanModal.addEventListener('hidden.bs.modal', function () {
            qrCodeGenerated = false;
            document.getElementById('qrcode-container').innerHTML = '';
        });
    });
</script>