{% extends "includes/layout.html" %}
{% load static %}
{% block title %}Login | {{ site_name }}{% endblock %}

{% block content %}

<section style="padding: 0;">
    <div class="login_div">
        <div class="login_outer">
            <h2 class="head_login">Login</h2>
            <div class="login_inner">
                <form id="loginForm" method="POST" action="{% url 'user_login' %}">
                    {% csrf_token %}
                    <div class="login_form">
                        <input type="text" name="username" class="login_input" placeholder="Enter your email" required>
                        <input type="password" name="password" class="login_input" placeholder="Password" required>
                    </div>
                    <a href="{% url 'user_forgot_password' %}" class="para_login">Forgot password?</a>
                    <button type="submit" class="btn btn_login">Sign in</button>
                </form>
                <p class="para_login2">Don't have an account? <a href="{% url 'user_register' %}">Sign up</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("loginForm").addEventListener("submit", function () {
            universalLoader("Logging in...", "Please wait while we process your login");
        });
    });
</script>
{% endblock %}
