{% extends "includes/layout.html" %}
{% load static %}
{% block title %} Login | {{ site_name }} {% endblock %}

{% block content %}
<style>
    body{
       background-color: #BDEEFC; 
    }
    @media only screen and (max-device-width: 600px){
      .log-reg-sec{
margin-top:100px !important;

      }  
    }
    .log-reg-sec {
        margin-top:200px;
        background-color: #BDEEFC;
    }
</style>
<section class="log-reg-sec" style="background-color:#BDEEFC;">
    <img src="{% static 'media/login-mob.png' %}" alt="" style="width: 100%;" class="d-lg-none d-block d-md-block w-100">
    <form id="loginForm" method="POST" action="{% url 'user_login' %}">
        {% csrf_token %}
        <div class="reg-box">
            <br>
        <h1 class="s-text">Sign in</h1>
        <div class="inp-sec">
        <div class="inp-box">
            <input name="username" type="text" placeholder="Enter your email" required>
            <input name="password" type="password" placeholder="Password" required>
        </div>
        <button type="submit" class="si-button btn">
            Sign in
        </button>
        <a href="{% url 'user_forgot_password' %}" class="fp-txt">Forgot password</a>
        </div>
        <p class="fp-txt">Don’t have an account? <a href="{% url 'user_register' %}" class="fp-txt">Sign up</a></p>
        </div>
    </form>
    <img src="{% static 'media/Clouds.png' %}" alt="" style="width: 100%;" class="d-lg-none d-block d-md-block w-100">
</section>
<section class="dashboard_last d-lg-block d-md-block d-none"></section>
{% endblock %}
{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("loginForm"); 
        form.addEventListener("submit", function() {
            universalLoader("Logging in...", "Please wait while we process your login");
        });
    });
    </script>
{% endblock %}



