{% extends "includes/layout.html" %}
{% load static %}
{% block title %}Create New Account | {{ site_name }}{% endblock %}

{% block content %}

<section style="padding: 0;">
    <div class="login_div">
        <div class="sign_outer">
            <h2 class="head_login">Sign up</h2>
            <div class="login_inner">
                <form id="registerForm" method="POST" action="{% url 'user_register' %}">
                    {% csrf_token %}
                    <div class="login_form w-100">
                        <div class="sign_div">
                            <input type="text" name="fullname" class="login_input w-100" placeholder="Full name" required>
                            <input type="email" name="email" class="login_input w-100" placeholder="Email address" required>
                        </div>
                        <div class="sign_div">
                            <input type="password" name="password" class="login_input w-100" placeholder="Password" required>
                            <input type="password" name="confirm_password" class="login_input w-100" placeholder="Confirm password" required>
                        </div>
                    </div>
                    <div class="form-check sign_check_main">
                        <input class="form-check-input sign_check" type="checkbox" id="termsCheck" required>
                        <label class="form-check-label sing_check_para" for="termsCheck">
                            I have read and agree to the <a href="{% url 'terms_conditions' %}"><span>Terms of Use.</span></a>
                        </label>
                    </div>
                    <div class="btn_div_sign w-100">
                        <div class="recaptcha-wrapper">
                            <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}" data-size="normal"></div>
                        </div>
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <button type="submit" class="btn btn_login">Create account</button>
                    </div>
                </form>
                <p class="para_login2">Already have an account? <a href="{% url 'user_login' %}">Sign in</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("registerForm").addEventListener("submit", function () {
            universalLoader("Creating New Account", "Please wait while we set up your account...");
        });
    });
</script>
{% endblock %}
