{% extends "includes/layout.html" %}
{% load static %}
{% block title %} Server Error | {{ site_name }} {% endblock %}
{% block content %}

<section class="error-section d-flex align-items-center">
  <div class="container-fluid">
    <div class="row align-items-center text-center text-lg-start pt-5 error-row">

      <!-- LEFT IMAGE -->
      <div class="col-lg-3">
        <div class="left-wrapper">
          <img src="{% static 'media/left-fish.png' %}" class="img-fluid fish-left" alt="">
        </div>
      </div>

      <!-- CONTENT -->
      <div class="col-lg-6 text-center">
        <div class="error-content mx-auto">
          <h1 class="error-title">500 ERROR</h1>
          <p class="error-text mb-5">Something went wrong on our end. Please try again later.</p>
          <a href="{% url 'home' %}" class="btn error-btn">RETURN HOME</a>
        </div>
      </div>

      <!-- RIGHT IMAGE -->
      <div class="col-lg-3">
        <div class="right-wrapper text-end">
          <img src="{% static 'media/right-fish.png' %}" class="img-fluid fish-right" alt="">
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
