{% extends "includes/layout.html" %}

{% block title %}About Us | Little Story Book {% endblock %}

{% block content %}
    <section class="about_1">
        <div class="container px-0">
        <div class="ab_mid_box" >
            <div class="ab_text_box">
            <h4 class="titt">Step Into the Story Jungles</h4>
            <p class="subit">
                Every great adventure begins with a spark of imagination. In our world, dragons soar, robots fly, and heroes
                are built from the names and traits you choose.
            </p>
            </div>
        </div>
    </section>

    <section class="about_2">
        <div class="container px-0">
        <div class="ab_mid_box_1">
            <div class="ab_text_box">
            <h4 class="titt_smal">The Heart of Our Story</h4>
            <p class="subit_abb">
                Stories shape how children see the world, and we believe they should feel magical, personal, and full of
                wonder. Our purpose is to change generic tales into adventures where every child can be the hero.
                <br /><br />
                We design experiences that spark imagination, build emotional connections, and create lasting memories. By
                blending creativity with technology, our goal is to inspire a lifelong love for storytelling and learning.
            </p>
                    <a class="nav-link btn btn-yello_ab" href="https://littlestorybox.com/products/books/">Explore our library</a>

            </div>
        </div>
    </section>

    <section class="about_3">
        <div class="container px-0">
        <div class="ab_mid_box3" style="margin-top: 130px;">
            <div class="ab_text_box">
            <h4 class="titt_yellow">Growing the <br>
    Future of Stories</h4>
            <p class="subit_yellow">
            We believe every child deserves to see themselves as the hero of their own story. Our vision is to unlock endless creativity by blending technology with imagination, giving families tools to create magical adventures together.<br><br>

    We aim to build a library where stories feel alive, voices bring comfort, and every tale reflects the joy of discovery. By making storytelling playful, personal, and accessible, we hope to inspire a new generation of dreamers and creators.
            </p>
            </div>
        </div>
    </section>

    <section class="about_4">
        <div class="container px-0">
        <div class="ab_mid_box_last">
            <div class="ab_text_box">
            <h4 class="titt_yellow text-start">Unearth the Magic</h4>
            <p class="subit_yellow text-start">
        Just like uncovering fossils beneath the soil, every great story begins with a hidden spark waiting to be found. Our “How it Works” journey takes you step by step through the process of shaping your own adventure. From choosing your heroes to setting the scene and adding magical touches, you’ll discover how imagination and technology work together to bring stories to life.
            </p>
                                <a class="nav-link btn btn-yello_ab2" href="https://littlestorybox.com/howitworks">Discover how it works</a>

            </div>
        </div>
    </section>

{% endblock %}
