{% extends "includes/layout.html" %}
{% load static %}
{% block title %}About Us | {{ site_name }}{% endblock %}

{% block extra_head %}
<style>
    section { padding: 0px; }
    @media only screen and (max-width: 600px) {
        header { background-color: transparent; }
    }
</style>
{% endblock %}

{% block content %}

<!-- About Section 1 -->
<section class="about_s1">
    <video autoplay muted loop playsinline class="about_s1video">
        <source src="{% static 'media/about_s1video.mp4' %}" type="video/mp4">
    </video>
    <div class="about_c1outter">
        <div class="about_c1 container">
            <h1 class="about_s1title">Dive Into the Story Ocean</h1>
            <p class="about_s1subtitle">Every great adventure begins with a spark of imagination. In our world, dragons soar, robots fly, and heroes are built from the names and traits you choose.</p>
        </div>
    </div>
</section>

<!-- About Section 2 -->
<section class="about_s2">
    <div class="about_s2a">
        <div class="about_s2acontentbar">
            <div class="about_s2atitlebar">
                <h2 class="about_s2title">At the Heart of Every Story</h2>
                <p class="about_s2subtitle">Stories shape how children see the world, and we believe they should feel magical, personal, and full of wonder. Our purpose is to change generic tales into adventures where every child can be the hero.<br><br>
                We design experiences that spark imagination, build emotional connections, and create lasting memories. By blending creativity with technology, our goal is to inspire a lifelong love for storytelling and learning.</p>
            </div>
            <div class="about_s2btndiv">
                <a href="{% url 'product_book_list' %}" class="about_s2btn">Dive Into Our Library</a>
            </div>
        </div>
    </div>
    <div class="about_s2b">
        <div class="home_s2bcontentbar">
            <div class="about_s2acontentbar">
                <div class="about_s2atitlebar">
                    <h2 class="about_s2title">The Future of Stories Starts Here</h2>
                    <p class="about_s2bsubtitle">We believe every child deserves to see themselves as the hero of their own story. Our vision is to unlock endless creativity by blending technology with imagination, giving families tools to create magical adventures together.<br><br>
                    We aim to build a library where stories feel alive, voices bring comfort, and every tale reflects the joy of discovery. By making storytelling playful, personal, and accessible, we hope to inspire a new generation of dreamers and creators.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about_s2c">
        <div class="home_c2 container">
            <div class="home_s2ccontentbar">
                <div class="about_s2atitlebar about_s2atitlebarother">
                    <h2 class="about_s2title">Beneath the Magic</h2>
                    <p class="about_s2bsubtitle">Just like uncovering fossils beneath the soil, every great story begins with a hidden spark waiting to be found. Our "How it Works" journey takes you step by step through the process of shaping your own adventure. From choosing your heroes to setting the scene and adding magical touches, you'll discover how imagination and technology work together to bring stories to life.</p>
                </div>
                <div class="about_s2btndiv">
                    <a href="{% url 'howItWorks' %}" class="about_s2btn">Discover How It Works</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
