{% extends "includes/layout.html" %}
{% load static %}
{% block title %}Set Password | {{ site_name }}{% endblock %}

{% block content %}

<section style="padding: 0;">
    <div class="login_div">
        <div class="login_outer">
            <h2 class="head_login">Set a password</h2>
            <div class="login_inner">
                <form method="POST" id="setPasswordForm">
                    {% csrf_token %}
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="login_form">
                        <input type="password" name="password" class="login_input" placeholder="New password" required>
                        <input type="password" name="confirm_password" class="login_input" placeholder="Confirm new password" required>
                    </div>
                    <button type="submit" class="btn btn_login">Set new password</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("setPasswordForm").addEventListener("submit", function () {
            universalLoader("Resetting password...", "Please wait while we process your request");
        });
    });
</script>
{% endblock %}