{% load static %}
{% for story in stories %}
<div class="card">
    <div class="card-img">
        {% if story.thumbnail %}
            <img src="{{ story.thumbnail.url }}" alt="{{ story.title }}" loading="lazy">
        {% elif story.image %}
            <img src="{{ story.image.url }}" alt="{{ story.title }}" loading="lazy">
        {% else %}
            <img src="{{ story.pages.all.0.image.url }}" alt="{{ story.title }}" loading="lazy">
        {% endif %}
        <div class="img-detials">
            <h6>{% if story.title|length > 25 %}{{ story.title|slice:":25" }}...{% else %}{{ story.title }}{% endif %}</h6>
            <a href="{% url 'product_books_details' story.slug %}">Find out more</a>
        </div>
    </div>
</div>
{% empty %}
<div style="width:100%; padding: 2rem; text-align: center;">
    <p>No stories found.</p>
</div>
{% endfor %}
